@model C4_Assignment.Models.TaiKhoan

@{
    ViewData["Title"] = "Create";
}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1 class="text-center">Đăng ký tài khoản</h1>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TenDangNhap" class="control-label"></label>
                        <input asp-for="TenDangNhap" class="form-control" />
                        <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MatKhau" class="control-label"></label>
                        <input type="password" asp-for="MatKhau" class="form-control" />
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"></label>
                        <input asp-for="HoTen" class="form-control" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="GioiTinh" class="control-label">Giới tính:</label>
                        <select id="GioiTinh" name="GioiTinh" class="form-control form-control-lg">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <span asp-validation-for="GioiTinh" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Đăng ký" class="btn btn-primary col-sm-3" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
