
@{
    ViewData["Title"] = "About";
}

<section class="container" style="margin-top:5%">
    <img src="~/image//banner/bn3.jpg" alt="Alternate Text" width="100%" height="500px" />
    <h1 class="mt-3">VỀ CHÚNG TÔI</h1>
    <p>
        Tại KING SHOES, chúng tôi tự hào mang đến cho bạn một bộ sưu tập đa dạng và chất lượng cao về giày thể thao.
        Chúng tôi hiểu rằng giày thể thao không chỉ là một phụ kiện thời trang, mà còn là công cụ để bạn tạo nên sự thoải
        mái và tự tin trong mỗi bước chân.
    </p>

    <p>
        Với sự kết hợp hoàn hảo giữa thiết kế đẹp mắt và công nghệ tiên tiến, các đôi giày thể thao KING SHOES sẽ giúp bạn
        vượt qua mọi thử thách và hoạt động với hiệu suất tối đa. Chúng tôi cung cấp các loại giày thể thao chuyên dụng
        cho các môn thể thao như bóng đá, chạy bộ, đi bộ, tennis và nhiều hơn nữa.
    </p>

    <p>
        Đội ngũ thiết kế của chúng tôi luôn đặt sự thoải mái và phong cách lên hàng đầu. Chúng tôi sử dụng các vật liệu
        đạt tiêu chuẩn cao và công nghệ tiên tiến để tạo ra những đôi giày thể thao êm ái, đàn hồi và đáng tin cậy. Bạn
        có thể hoàn toàn yên tâm về chất lượng và bền bỉ của sản phẩm mà chúng tôi cung cấp.
    </p>

    <div class="row">
        <div class="col-md-12 gx-5 mb-4">
            <div class="bg-image hover-overlay shadow-2-strong" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img src="~/image/banner/bn6.jpg" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
        </div>

        <div class="col-md-12 gx-5 mb-4 text-center">
            <h4><strong>A Classic Since 1982</strong></h4>
            <p class="text-muted">
                Designed by Bruce Kilgore and introduced in 1982,
                the Air Force 1 was the first ever basketball shoe to feature Nike Air technology,
                revolutionizing the game and sneaker culture forever.
                Over three decades since its first release,
                the Air Force 1 remains true to its roots while earning its status as a fashion staple for seasons to come.
            </p>
        </div>
    </div>

    <h2>Tại KING SHOES, chúng tôi cam kết:</h2>

    <ul>
        <li>
            Đa dạng mẫu mã: Từ giày chạy bộ đến giày bóng đá và các loại giày thể thao khác, chúng tôi có một sự lựa chọn
            phong phú để đáp ứng mọi nhu cầu và sở thích của bạn.
        </li>
        <li>
            Hiệu suất và thoải mái: Với công nghệ tiên tiến và thiết kế chuyên dụng, giày thể thao KING SHOES mang đến
            sự thoải mái và hỗ trợ tối đa trong mỗi hoạt động thể thao của bạn.
        </li>
        <li>
            Chất lượng đáng tin cậy: Chúng tôi cam kết sử dụng các vật liệu chất lượng cao và quy trình sản xuất chuyên
            nghiệp để đảm bảo rằng mỗi đôi giày mà bạn chọn là một sự đầu tư lâu dài.
        </li>
        <li>
            Phong cách và cá nhân hóa: Với các thiết kế đa dạng và tùy chọn cá nhân hóa, bạn có thể thể hiện phong cách
            riêng và sáng tạo với mỗi đôi giày thể thao KING SHOES.
        </li>
    </ul>

    <p>
        Hãy khám phá bộ sưu tập giày thể thao của chúng tôi ngay hôm nay và tạo ra những bước tiến vững chắc trong cuộc
        sống và hoạt động thể thao củabạn!
</section>


@* Service *@
<section class="container">
    <hr />
    <h1 class="mb-5"><strong>DỊCH VỤ</strong></h1>
    <div class="row p-5 text-center">
        <div class="col-sm-4">
            <img src="~/image//banner/bn5.png" alt="Alternate Text" width="100%" height="250px" />
            <h3 class="mt-3">MIỄN PHÍ GIAO HÀNG</h3>
        </div>
        <div class="col-sm-4">
            <img src="~/image//banner/bn7.jpg" alt="Alternate Text" width="100%" height="250px" />
            <h3 class="mt-3">VỆ SINH GIÀY</h3>
        </div>
        <div class="col-sm-4">
            <img src="~/image//banner/bn9.jpg" alt="Alternate Text" width="100%" height="250px" />
            <h3 class="mt-3">THIẾT KẾ CỦA RIÊNG BẠN</h3>
        </div>
    </div>
</section>
