
@{
    ViewData["Title"] = "FAQ";
}

<h1>FAQ</h1>


<!-- FAQ 3 - Bootstrap Brain Component -->
<section class="bsb-faq-3 py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Các câu hỏi thường gặp</h2>
                <p class="text-secondary text-center lead fs-4">Chào mừng bạn đến với trang Câu hỏi thường gặp của chúng tôi, tài nguyên một cửa của bạn để có câu trả lời cho các câu hỏi thường gặp.</p>
                <p class="mb-5 text-center">Cho dù bạn là khách hàng mới muốn tìm hiểu thêm về những gì chúng tôi cung cấp hay người dùng lâu năm đang tìm kiếm sự làm rõ về các chủ đề cụ thể, trang này có thông tin rõ ràng và ngắn gọn về các sản phẩm và dịch vụ của chúng tôi.</p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <!-- FAQs: My Account -->
    <div class="mb-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-xl-10">
                    <div class="d-flex align-items-end mb-5">
                        <i class="bi bi-person-gear me-3 lh-1 display-5"></i>
                        <h3 class="m-0">Tài khoản của bạn</h3>
                    </div>
                </div>
                <div class="col-11 col-xl-10">
                    <div class="accordion accordion-flush" id="faqAccount">
                        <div class="accordion-item bg-transparent border-top border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading1">
                                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse1" aria-expanded="false" aria-controls="faqAccountCollapse1">
                                    Tài khoản là gì?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse1" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading1">
                                <div class="accordion-body">
                                    <p>Tài khoản là một bản ghi cá nhân hoặc tổ chức cho phép bạn truy cập và quản lý các dịch vụ khác nhau, thường yêu cầu xác thực thông qua tên người dùng và mật khẩu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqAccountHeading2">
                                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqAccountCollapse2" aria-expanded="false" aria-controls="faqAccountCollapse2">
                                    Làm cách nào để tạo tài khoản?
                                </button>
                            </h2>
                            <div id="faqAccountCollapse2" class="accordion-collapse collapse" aria-labelledby="faqAccountHeading2">
                                <div class="accordion-body">
                                    <p>Để tạo tài khoản, hãy truy cập trang web hoặc ứng dụng và tìm nút "Đăng ký" hoặc "Tạo tài khoản". Làm theo hướng dẫn để nhập thông tin của bạn và tạo tên người dùng và mật khẩu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQs: Placing an Order -->
    <div class="mb-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-xl-10">
                    <div class="d-flex align-items-end mb-5">
                        <i class="bi bi-cart-plus me-3 lh-1 display-5"></i>
                        <h3 class="m-0">Đặt hàng</h3>
                    </div>
                </div>
                <div class="col-11 col-xl-10">
                    <div class="accordion accordion-flush" id="faqOrder">
                        <div class="accordion-item bg-transparent border-top border-bottom py-3">
                            <h2 class="accordion-header" id="faqOrderHeading1">
                                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqOrderCollapse1" aria-expanded="false" aria-controls="faqOrderCollapse1">
                                    Tôi có cần tạo tài khoản để đặt hàng không?
                                </button>
                            </h2>
                            <div id="faqOrderCollapse1" class="accordion-collapse collapse" aria-labelledby="faqOrderHeading1">
                                <div class="accordion-body">
                                    <p>Bạn có thể đặt hàng với tư cách khách nếu bạn tạo tài khoản. Tuy nhiên, việc tạo tài khoản cho phép thanh toán và theo dõi đơn hàng nhanh hơn.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqOrderHeading2">
                                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqOrderCollapse2" aria-expanded="false" aria-controls="faqOrderCollapse2">
                                    Tôi có thể thay đổi hoặc hủy đơn đặt hàng của mình sau khi đã đặt không?
                                </button>
                            </h2>
                            <div id="faqOrderCollapse2" class="accordion-collapse collapse" aria-labelledby="faqOrderHeading2">
                                <div class="accordion-body">
                                    <p>Đơn đặt hàng có thể được sửa đổi hoặc hủy bỏ trong một thời gian ngắn sau khi đặt chúng. Liên hệ với bộ phận hỗ trợ khách hàng của chúng tôi càng sớm càng tốt để thực hiện bất kỳ thay đổi nào.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQs: Refunds and Exchanges -->
    <div class="mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-xl-10">
                    <div class="d-flex align-items-end mb-5">
                        <i class="bi bi-bag-dash me-3 lh-1 display-5"></i>
                        <h3 class="m-0">Hoàn tiền và trao đổi</h3>
                    </div>
                </div>
                <div class="col-11 col-xl-10">
                    <div class="accordion accordion-flush" id="faqRefund">
                        <div class="accordion-item bg-transparent border-top border-bottom py-3">
                            <h2 class="accordion-header" id="faqRefundHeading1">
                                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqRefundCollapse1" aria-expanded="false" aria-controls="faqRefundCollapse1">
                                    Làm thế nào để yêu cầu hoàn tiền hoặc trao đổi?
                                </button>
                            </h2>
                            <div id="faqRefundCollapse1" class="accordion-collapse collapse" aria-labelledby="faqRefundHeading1">
                                <div class="accordion-body">
                                    <p>Để yêu cầu hoàn tiền hoặc đổi hàng, vui lòng làm theo các bước sau:</p>
                                    <ul>
                                        <li>Liên hệ với nhóm hỗ trợ khách hàng của chúng tôi trong vòng 30 ngày kể từ ngày mua.</li>
                                        <li>Cung cấp số đơn đặt hàng của bạn và lý do chi tiết cho yêu cầu.</li>
                                        <li>Chờ nhóm hỗ trợ khách hàng của chúng tôi đánh giá yêu cầu của bạn và cung cấp thêm hướng dẫn.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item bg-transparent border-bottom py-3">
                            <h2 class="accordion-header" id="faqRefundHeading2">
                                <button class="accordion-button collapsed bg-transparent fw-bold shadow-none link-primary" type="button" data-bs-toggle="collapse" data-bs-target="#faqRefundCollapse2" aria-expanded="false" aria-controls="faqRefundCollapse2">
                                    Những mặt hàng nào đủ điều kiện để được hoàn tiền hoặc trao đổi?
                                </button>
                            </h2>
                            <div id="faqRefundCollapse2" class="accordion-collapse collapse" aria-labelledby="faqRefundHeading2">
                                <div class="accordion-body">
                                    <p>Các mặt hàng đủ điều kiện để được hoàn tiền hoặc đổi hàng phải đáp ứng các tiêu chí sau:</p>
                                    <ul>
                                        <li>Chúng ở trong tình trạng ban đầu, không sử dụng và trong bao bì gốc.</li>
                                        <li>Yêu cầu được thực hiện trong khung thời gian quy định.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>