
@{
    ViewData["Title"] = "Product";
}
@model IQueryable<C4_Assignment.Models.SanPham>


<section class="container m-auto mb-4 mt-5 p-3">
    <h1>SẢN PHẨM NỔI BẬC </h1>
    <hr />
    <div class="row mt-3">

        @foreach (var product in Model)
        {
            <div class="col-sm-4 m-auto border p-3">
                <div class="position-relative">
                    <img src="@product.HinhAnh" alt="Alternate Text" width="100%" height="250px" />
                </div>
                <div class="">
                    <p>@product.TenSanPham</p>
                    <p class="text-muted">@product.Gia.ToString("#,##0") đ <span>  </span> </p>
                    <div id="rating1" class="star-rating" role="rating" data-rating="3">
                        <span>5</span>
                        <span class="star" style="color:orange" data-value="1">&#9733;<span class="star-notification"></span></span>
                        <p>@product.GhiChu</p>
                    </div>
                </div>
                <div class="mt-2 row">
                    <a href="/User/Home/Information?id=@product.SanPhamID" class="col-md-5 btn btn-primary mx-auto">XEM CHI TIẾT</a>
                    <a href="/User/Home/Cart?id=@product.SanPhamID" class="col-md-5 btn btn-danger mx-auto">THÊM VÀO GIỎ</a>
                </div>
            </div>
        }



        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</section>



